---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import SocialListDelios from "@/components/SocialListDelios";
import SocialListTricky from "@/components/SocialListTricky";
import aboutImg from "../assets/about-astro.png";

const meta = {
	title: "About",
	description: "About page to learn more about Delioos and Tricky",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
    <h2 class="text-xl font-bold"> Why Crypto Curious Crusaders?</h2>
    <p> We chose this name for various reasons, but the first and most obvious one is that we thought it sounded cool to identify ourselves as modern time knights surfing in the ocean of a numeric world. And we are cool, so it fits.</p>
    <p> The second reason is the keyword "Crypto". It's a connector between our 2 passions.<br>
     Crypto for cryptography, the science of secret writing, the essence of cyber security and the foundation of blockchain.<br>
      Crypto for cryptocurrency, the digital money that is changing the world.<br>
    <br>
    <h2 class="text-xl font-bold"> Who are we?</h2>
    <p> We are 2 friends studying IT in France. We are passionate about many things like mechanics, powerlifting, and of course, technology. </p>
    <p>Tricky</p>
    <p>"Hi I'm TricKi, I'm a 20 years old french student in IT and CTF player. I'm very passionate about cybersecurity and that's part of the reason why I started this blog with Delioos. The second reason why is because I want to share my journey with you and talk about everything I've learned so far in that field. Stay tuned for upcomming post about cybersecurity and feel free to get in touch with me !" </p>
    <br><p>Delioos</p>
    <p> "I'm a tech enthusiast as well and a developer focusing on the web (we were studying our firsts uni years together), but I discovered a passion for decentralized finance, viewing it as a tool to regain sovereignty and freedom.
      So I'm willing to build on the blockchain." </p>
    <br>

    <p>You can also find us on social platforms, feel free to follow or contact us!</p>
    <SocialListDelios />
    <SocialListTricky/>
	</div>
</PageLayout>
